<h3>
  Welcome {{user?.username}}!<br>
  Your id: {{user?.id}}
</h3>
<h5>Orders</h5>
<app-table [items]="orders" [columnData]="orderColumns" rowLink="/order/" emptyText="No open orders found"></app-table>
<h5>Received invitations</h5>
<app-table [items]="user.receivedInvitations" [columnData]="recInvColumns" [actions]="recInvActions" emptyText="You do not have any invitation"></app-table>
<h5>Sent invitations</h5>
<app-table [items]="user.sentInvitations" [columnData]="sentInvColumns" [actions]="sentInvActions" emptyText="You do not have any sent invitation"></app-table>
