<app-table [items]="groups" [columnData]="columns" [actions]="actions" rowLink="/my-group/"></app-table>

<ng-template #createGroupModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create group</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="createdGroupName">Group</label>
      <input #createdGroupName class="form-control" id="createdGroupName" placeholder="Group name">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(createdGroupName.value)">Send</button>
  </div>
</ng-template>
<hr>

<button type="button" class="btn btn-outline-dark" (click)="openCreateGroupModal(createGroupModalContent)">Create group</button>
